<head>
    <title>Alex MacLean</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#343a40" />

    <meta name="author" content="Alex MacLean" />
    <meta name="keywords" content="Alex, MacLean, Alex MacLean, Seattle" />
    <meta
      name="description"
      content="The personal website for Alex MacLean of Seattle, Washington"
    />

    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap"
      rel="stylesheet"
    />
</head>