@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="card page m-auto bg-danger text-white">
    <div class="card-header text-center">
        <h1>
            <span class="fa fa-bug"></span>
            Error
        </h1>
    </div>
    <div class="card-body">
        <p>An error occured in the website. Please contact me if the error presists</p>
    </div>
</div>

@section Style
{
    <style>
        .page { width: 500px; }
    </style>
}