@page
@model IndexModel
@{
    ViewData["Title"] = "Alex MacLean";
}

<div class="card page m-auto bg-dark text-white">
    <div class="card-header text-center">
        <h1>Alex MacLean</h1>
    </div>
    <div class="card-body">
        <p>Website in progress</p>
    </div>
    <div class="card-footer d-flex justify-content-center">
        <a href="https://twitter.com/AlexMaclean2000" class="btn text-white shadow-none mx-1">
            <span class="fa fa-crow h5 m-0"></span>
        </a>
        <a href="https://www.facebook.com/alex.maclean2000" class="btn text-white shadow-none mx-1">
            <span class="fa fa-book h5 m-0"></span>
        </a>
        <a href="https://www.linkedin.com/in/alexmaclean2000" class="btn text-white shadow-none mx-1">
            <span class="fa fa-link h5 m-0"></span>
        </a>
        <a href="https://www.instagram.com/alexmaclean2000" class="btn text-white shadow-none mx-1">
            <span class="fa fa-camera h5 m-0"></span>
        </a>
    </div>
</div>

<style>
    .page { width: 500px; }
</style>