---
layout: default
---

<body>
    <div class="container">

        <div class="sidebar">
            <h1>Alex MacLean</h1>
            <!-- <a href="https://resume.alex-maclean.com/Resume.pdf"> R&eacute;sum&eacute; </a> -->
            <!-- | -->
            <a href="https://github.com/AlexMaclean"> GitHub </a>
            |
            <a href="https://www.linkedin.com/in/alexmaclean2000/"> LinkedIn </a>
        </div>



        <div class="content">

            {{ content }}

        </div>

    </div>

</body>